<header class="c-header">
  <div class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="/assets/img/logo.png" alt="Logo"></a></div>
  <nav class="c-gnav">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li>
            <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
            <% if (link.links) { %>
              <ul>
                <% link.links.forEach(child_link => { %>
                  <li>
                    <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
  <div class="c-gnavspbox c-gnavspbtn is-gnavspbtnclick">
    <span class="c-gnavspbtn__dash c-gnavspbtn__dash1"></span>
    <span class="c-gnavspbtn__dash c-gnavspbtn__dash2"></span>
    <span class="c-gnavspbtn__dash c-gnavspbtn__dash3"></span>
  </div>
</header>
<div class="c-headersp">
  <nav class="c-gnavsp">
    <ul class="c-gnavsp__1st">
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li class="c-gnavsp__1stitem <%= link.links ? 'c-gnavsp__havechild' : '' %>">
            <a href="<%= link.url %>"><%= link.title %></a>
            <% if (link.links) { %>
              <ul class="c-gnavsp__2nd">
                <% link.links.forEach(child_link => { %>
                  <li class="c-gnavsp__2nditem <%= child_link.links ? 'c-gnavsp__havechild' : '' %>">
                    <a href="<%= child_link.url %>"><%= child_link.title %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
</div>
